.atas{background-color: #99ffce;}
.whatis{
    font-family:"cooper black";
    text-align: center;
}
.ket{
    text-align: center;
}
.join{
    text-align: center;
    font-size: 30px;
}
.dikanan{
    text-align: right;
}